DB_USER=smp_user
DB_PASSWORD=smp_password
DB_NAME=smp_db
DB_HOST=postgres
DB_PORT=5432

GATEWAY_PORT=8080
GATEWAY_SHUTDOWN_DRAIN_PERIOD=30s
GATEWAY_STOP_GRACE_PERIOD=35s

# Максимальное число транзакционных запросов, которое один client IP может отправить сразу.
TRANSACTIONS_RATE_LIMIT_CAPACITY=100
# Сколько токенов транзакционных запросов восстанавливается в секунду для одного client IP.
TRANSACTIONS_RATE_LIMIT_REFILL_PER_SECOND=100
# Сколько неактивный rate-limit bucket для client IP хранится в памяти.
TRANSACTIONS_RATE_LIMIT_BUCKET_TTL=10m
# Максимальное число client IP rate-limit bucket'ов в памяти. (Количество IP у которых мы ведем учет rate-limit)
TRANSACTIONS_RATE_LIMIT_MAX_BUCKETS=10000

CARD_MGMT_PORT=8081
SWITCH_PORT=8082
AUTH_PORT=8083
TERMINAL_PORT=8085
MERCHANT_PORT=8084
LOGGER_PORT=8088
DASHBOARD_PORT=3000
PROMETHEUS_PORT=9090
GRAFANA_PORT=3001
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
LOKI_PORT=3100
DASHBOARD_ORIGIN=http://localhost:3000

# RabbitMQ
RABBITMQ_USER=smp
RABBITMQ_PASSWORD=smp
RABBITMQ_AMQP_PORT=5673
RABBITMQ_MGMT_PORT=15673

# Bin Lookup Service (вариант B)
BIN_LOOKUP_PORT=8096

# Notification Service (вариант C)
NOTIFICATION_PORT=8097
